*{
    padding: 0;
    margin: 0;
}
body{
    background: #c2c2c2;
}

.bg-color-blue{
    background: #00137d;
}

.bg-color-violet{
background: #373e64;
}

.br-radius{
    border-radius: 8px;
}

.flex{
    display: flex;
}

.just-cont-between{
    justify-content: space-between;
}

.main{
    padding: 20px 0;
}
.container{
    max-width: 980px;
    margin: 0 auto;
}
.left-block{
    width: 180px;
    height: 40px;
}
a i{
    font-size: 25px;
    color: #767458;
}
i:last-child{
    padding-left: 20px;
}

header{
    height: 500px;
    position: relative;
}


.info{
    justify-content: center;
}

.info-block{
    width: 220px;
    height: 220px;
    margin: 0 40px;
    position: relative;
    top:415px;
    border: 4px solid #c2c2c2;
}