/* https://simpsons.fandom.com/wiki/Category:Simpson_family */

* {
  margin: 0;
  padding: 0;
}
body{
  background: rgb(253, 161, 2);
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

h1{
  font-family: fantasy;
}
.home-page{
  margin: 0 auto;
  width: 1180px;
}
.flex{
  display: flex;
}

.container{
  background: rgb(96, 67, 67);
}

.head-block{
  background: image('https://static.wikia.nocookie.net/simpsons/images/5/5b/800px-Way_of_the_Dog_promo_7.png/revision/latest/scale-to-width-down/670?cb=20200513025633');
  height: 450px;
  width: 100%;
}
.top-title h1{
  text-align: center;
  color: #fff;
  margin: 20px 0;
}
